<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!--Local: Development Database: Standard Security -->
		<add name="Development"
		     connectionString="Data Source=DESKTOP-U9426OA\SQLEXPRESS;Initial Catalog=DigiBugzyDev;Persist Security Info=True;User ID=sa;Password=Columbus01!"
		     providerName="System.Data.SqlClient" />

		<!--Local: Production Database: Standard Security -->
		<add name="Development"
		     connectionString="Data Source=DESKTOP-U9426OA\SQLEXPRESS;Initial Catalog=DigiBugzyProd;Persist Security Info=True;User ID=sa;Password=Columbus01!"
		     providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>